<nav class="navbar navbar-dark bg-danger">
  <div class="container">
    <div class="buttons">
      <a href="/" class="btn btn-light" type="button">Home</a>
      <a href="/upload" class="btn btn-outline-light" type="button">Upload</a>
    </div>
  </div>
</nav>
