<nav class="navbar navbar-dark bg-danger">
  <div class="container">
    <a href="/" class="btn btn-light" type="button">Home</a>
    <a href="/upload" class="btn btn-outline-light" type="button">Upload</a>
  </div>
</nav>
